<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.stepin.mushroom_recognizer">

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="Помощник грибника"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity_widget_coordinates" android:theme="@style/Theme.AppCompat.Light.Dialog.Alert" android:label="Загрузка данных">

        </activity>

        <receiver android:name=".AppWidget_places">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_widget_places_info" />
        </receiver>

        <activity
            android:name=".activity_map"
            android:label="Места на карте" />

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyALhAV5Zjj9jDUNrQqtCzcz84A93YJhro0" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-7663236009102018~8621584373" />

        <activity
            android:name=".activity_place_add"
            android:label="Новое место"
            android:theme="@style/MyMaterialThemeDialog" >

        </activity>
        <activity
            android:name=".activity_mushroom_places"
            android:label="Ваши места" />
        <activity android:name=".activity_description"
            android:theme="@style/MyMaterialTheme">
        </activity>
        <activity
            android:name=".activity_parameter_selection"
            android:label="Выберите"
            android:theme="@style/MyMaterialTheme"/>
        <activity
            android:name=".activity_result"
            android:label="Результаты"
            android:theme="@style/MyMaterialTheme"/>
        <activity
            android:name=".MainActivity"
            android:label="Помощник грибника"
            android:theme="@style/MyMaterialTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".MyWidgetList_service"
            android:permission="android.permission.BIND_REMOTEVIEWS"></service>
    </application>

</manifest>